<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
    <style>
        * {
            box-sizing: border-box;
            font-family: sans-serif
        }

        body {
            padding: 0;
            margin: 0
        }

        section#title {
            width: 100%;
            height: auto;
            background-color: brown;
            text-align: center;
            color: #fff;
            padding: 20px
        }

        table {
            border-radius: 5px;
            bodrer: 2px solid #999
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none
        }

        .container {
            width: 967px;
            margin: 0 auto
        }

        #title h1 span {
            font-size: 12px;
            color: #eee;
            margin-left: 12px
        }

        #work .container > ul > li {
            width: 50%;
            padding: 15px;
            background-color: #eee;
            border: 1px solid #ccc;
            border-radius: 5px;
            float: left;

        }

        li {
            display: inline-block
        }
    </style>
</head>
<body>
<section id="title">
    <h1><%= speaker.name %><span>- <%= speaker.shortname %></span></h1>
    <h4><%= speaker.title %></h4>
</section>
<br>
<div class="container">
    <a class="text-muted" href="/speakers">back to speakers page</a><br>
    <br>
    <img src="/images/speakers/<%= speaker.shortname %>.jpg" class="img-responsive pull-left" style="margin-right: 20px"
         alt="speaker image">
    <hr>
<%= speaker.summary %>
    <div class="clearfix"></div>
<br>
<section id="work">
    <ul>
        <li>
            <%= speaker.description.replace(/\<?[\S]p\>/gmi,"") %><hr>
        </li>
        <li class="work">
            <ul>
                <% for(image = 0 ;image < speaker.artwork.length; image++) { %>
                <li><img src="/images/artwork/<%= speaker.artwork[image] %>"></li>
                <% } %>
            </ul>
        </li>
    </ul>
</section>
</div>
<script src="/reload/reload.js"></script>
</body>

</html>